body {
  font-size: 1.3rem;
  background-color: #f6f6f8;
  margin-top: 2rem;
}

.ui.card>.content>.header{
    font-size: 1.4rem !important;
    color: #333;
}
  
.ui.segment {
    margin-bottom: 3rem;
}
